@using InternetBanking.Core.Application.ViewModels.Product
@using InternetBanking.Core.Application.ViewModels.Role
@using InternetBanking.Core.Application.Enums
@model SaveProductViewModel
@{
    bool editMode = (Model.Id != 0) ? true : false;
    string title = editMode ? "Editar producto" : "Crear producto";
    string actionMethod = editMode ? "Edit" : "Add";
    ViewData["Title"] = title;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h4 class="text-center">@title</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    <form method="post" asp-controller="Product" asp-action="@actionMethod">
                        @if (!editMode)
                        {
                            <div class="mb-3">
                                <label for="product-type-select" asp-for="Type" class="form-label">Tipo de producto</label>
                                <select id="product-type-select" asp-for="Type" class="form-select">
                                    <option>Seleccione una opción</option>
                                    <option value="@((int)ProductType.SavingAccount)">Cuenta de ahorros</option>
                                    <option value="@((int)ProductType.CreditCard)">Tarjeta de credito</option>
                                    <option value="@((int)ProductType.Loan)">Prestamo</option>
                                </select>
                            </div>
                        }
                        <div class="mb-3" id="amount-input">
                            <label asp-for="Amount" class="form-label">Monto</label>
                            <input type="number" step="any" asp-for="Amount" class="form-control" />
                        </div>
                        <div class="mb-3" id="limit-input" hidden>
                            <label asp-for="Limit" class="form-label">Limite</label>
                            <input type="number" step="any" asp-for="Limit" class="form-control" />
                        </div>

                            <input asp-for="ClientId" hidden/>
                        

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-secondary" asp-controller="Product" asp-action="Index" asp-route-userId="@Model.ClientId">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/SaveProduct.js"></script>