@using InternetBanking.Core.Application.ViewModels.Admin
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row mb-4">
    <h2>Dashboard</h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Transacciones</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Hoy</h6>
                    <p>@Model.TodayTransactions transacciones<br />$@Model.TodayTransactionsAmount</p>
                </li>
                <li class="list-group-item">
                    <h6>Total</h6>
                    <p>@Model.TotalTransactions transacciones<br />$@Model.TotalTransactionsAmount</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Pagos</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Hoy</h6>
                    <p>@Model.TodayPays transacciones<br />$@Model.TodayPaysAmount</p>
                </li>
                <li class="list-group-item">
                    <h6>Total</h6>
                    <p>@Model.TotalPays transacciones<br />$@Model.TotalPaysAmount</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Usuarios</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Activos</h6>
                    <p>@Model.ActiveUsers</p>
                </li>
                <li class="list-group-item">
                    <h6>Inactivos</h6>
                    <p>@Model.InactiveUsers</p>
                </li>
                <li class="list-group-item">
                    <h6>Productos asignados</h6>
                    <p>@Model.ProductsCount</p>
                </li>
            </ul>
        </div>
    </div>
</div>