@using InternetBanking.Core.Application.ViewModels.Transaction
@model LoanPayViewModel
@{
    ViewData["Title"] = "Pago de prestamo";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
          <h5 class="card-header">Pago a tarjeta de credito</h5>
          <div class="card-body">
            <form method="post" asp-action="LoanPay" asp-controller="Home">
              @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    @if (Model.Transaction != null)
                    {
                        <div class="mb-3">
                            <label asp-for="Transaction.AccountToId" class="form-label">Prestamo a pagar</label>
                            <select class="form-select" asp-for="Transaction.AccountToId" aria-label="Selecciona un prestamo">
                                <option selected>Selecciona un Prestamo</option>
                                @foreach (var loan in Model.Loans)
                                {
                                    <option value="@loan.Id">@loan.Id ($@loan.Amount)</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Transaction.AccountFromId" class="form-label">Cuenta de Ahorro</label>
                            <select class="form-select" asp-for="Transaction.AccountFromId" aria-label="Selecciona cuenta de ahorro">
                                <option selected>Selecciona una cuenta</option>
                                @foreach (var account in Model.Accounts)
                                {
                                    <option value="@account.Id">@account.Id ($@account.Amount)</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Transaction.Amount" class="form-label">Monto a pagar</label>
                            <input type="number" asp-for="Transaction.Amount" step="any" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Pagar</button>
                        <input type="hidden" asp-for="Transaction.ClientId" />
                        <input type="hidden" asp-for="Transaction.Type" />
                    }
                    else
                    {
                        <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Volver</a>
                    }
                </form>
          </div>
        </div>
    </div>
</div>